
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul class="sidebar-menu" data-widget="tree">
    <li><a href="~/Home/index"><i class="fa fa-book"></i> <span>Acceuil</span></a></li>
    <li class="header">CONTACTS</li>
    <li><a href="~/User/index"><i class="fa fa-book"></i> <span>Personnes</span></a></li>
    <li><a href="~/Team/index"><i class="fa fa-book"></i> <span>Equipes</span></a></li>
    <li><a href="~/Login/index"><i class="fa fa-book"></i> <span>Logins</span></a></li>

    <li class="header">APPLICATIONS</li>
    <li><a href="~/Application/index"><i class="fa fa-book"></i> <span>Applications</span></a></li>
    <li><a href="~/Test/index"><i class="fa fa-book"></i> <span>Applications</span></a></li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="../UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
            <li><a href="../UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
            <li><a href="../UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
            <li><a href="../UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
            <li><a href="../UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
            <li><a href="../UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
        </ul>
    </li>
</ul>